*{
	box-sizing: border-box;
}
html body {
	margin: 0;
	border: 0;
	padding: 0;
	overflow-x: hidden;
}
body {
	font-family: sans-serif;
	background-image: url(./images/wallpaper.png);
}
.container {
	max-width: 1180px;
	margin: 0 auto;
	overflow: hidden;
	padding-left: 10px;
	padding-right: 10px;
}
.main-header {
	width: 100%;
	text-align: center;
}
.logo
